@model QuanLySDD.Models.sudungdien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>sudungdien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.masudung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masudung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.canho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.canho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madienke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madienke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluongdien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluongdien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.masudung }) |
    @Html.ActionLink("Back to List", "Index")
</p>
