@model IEnumerable<QuanLySDD.Models.sudungdien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.masudung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.madienke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soluongdien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.masudung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.canho)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.madienke)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.soluongdien)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.masudung }) |
        @Html.ActionLink("Details", "Details", new { id = item.masudung }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.masudung })
    </td>
</tr>
}

</table>
