@model QuanLySDD.Models.dsthanhtoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>dsthanhtoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mathanhtoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mathanhtoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.macanho)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.macanho)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.madienke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madienke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhtrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhtrang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.mathanhtoan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
